* {
  font-family: "Prompt", sans-serif;
}
.body-bg {
  background-color: black;
}

.text-neno-titel {
  -webkit-text-fill-color: #ffe16a;
  text-shadow: 3px 3px 3px #bf7f00, -3px -3px 8px #bf7f00;
}

.bg-image {
  background-color: #000c52;
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: center center;
  background-image: url(image/h-bg.jpeg);
  background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
}

.hero-area {
  position: relative;
  padding: 0px 0px 0px;
  position: relative;
  box-shadow: 0px 0px 20px 6px black;
  background-color: #00000061;
  overflow: hidden;
}

.boder-game {
  border-bottom: #00a4f0 3px solid;
  -webkit-box-shadow: -1px -1px 15px 20px #46ceff;
  box-shadow: -1px -1px 15px 20px #46ceff;
}

.cards-list {
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.card_image {
  width: inherit;
  height: inherit;
}
.card {
  width: 180px;
  height: unset;
  margin: 0;
  box-shadow: 5px 5px 30px 7px rgb(0 0 0 / 25%),
    -5px -5px 30px 7px rgb(0 0 0 / 22%);
  cursor: pointer;
  transition: 0.4s;
}
